<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {%- if page.title -%}
      {{ page.title }} &middot; {{ site.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  <link rel="stylesheet" href="/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed/" title="{{ site.title }}">

  {% seo title=false %}
</head>
