<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container content">
      <nav class="navigation">
        <h3><a href="/">{{ site.title }}</a></h3>
        <a href="/blog/">/blog</a>
        <a href="/feed/">/feed</a>
        <a href="/archive/">/archive</a>
        <a href="/software/">/software</a>
        {%- comment %}<a href="/software">/software</a>{% endcomment %}
        {%- comment %}<a href="/me">/me</a>{% endcomment %}
      </nav>

      <main>
        {{ content }}
      </main>
    </div>
  </body>

</html>
