---
layout: default
---

<article>
  <h1 class="collection-title">{{ page.name | upcase }}</h1>

  {{ content }}

  <div class="collection">
    <ul class="post-collection">
      {% for post in site.posts %}
        {%- if post.tags contains page.name %}
          <li>
            <a href="{{ post.url }}">
              {{ post.title | smartify }}
              <small><time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%Y-%m-%d" }}
              </time></small>
            </a>
          </li>
        {%- endif %}
      {% endfor %}
    </ul>
  </div>
</article>
